<li class="active"><a href="#"><i class="fa fa-tachometer fa-fw"></i> Dashboard</a></li>
<li><a href="#"><i class="fa fa-sliders fa-fw"></i> Link 1</a></li>
<li><a href="#"><i class="fa fa-server fa-fw"></i> Link 2</a></li>
<li class="panel panel-default dropdown">
<a data-toggle="collapse" href="#" data-target="#dropdown-lvl1"><i class="fa fa-recycle fa-fw"></i> Link 3<span class="caret"></span>                       </a>
    <div id="dropdown-lvl1" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav navbar-nav">
                <li><a href="#">Link 3.1</a></li>
                <li><a href="#">Link 3.2</a></li>
                <li><a href="#">Link 3.3</a></li>
                <li class="panel panel-default dropdown">
                    <a data-toggle="collapse" href="#" data-target="#dropdown-lvl2">
                        <i class="fa fa-pie-chart fa-fw"></i> Link 3.4<span class="caret"></span>
                    </a>
                    <div id="dropdown-lvl2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="nav navbar-nav">
                                <li><a href="#">Link 3.4.1</a></li>
                                <li><a href="#">Link 3.4.2</a></li>
                                <li><a href="#">Link 3.4.3</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</li>
<li><a href="#"><i class="fa fa-map-marker fa-fw"></i> Link 4</a></li>
